/* --- Estrutura Principal --- */
section {
  margin-left: 15%;
  background-color: var(--verde-7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  border-radius: 64px;
  gap: 2rem;
  /* Reduzido o gap para melhor ajuste */
  padding: 2rem;
}

.planta-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 90vh;
  flex-shrink: 0;
  background-image: url("src/assets/imgs/estacao-vital/blank-nature-park-landscape-scene-daytime_1308-62625.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px var(--shadow-0);
  overflow: hidden;
  border-radius: 32px;
  border: 10px solid var(--verde-5);
  gap: 1.6rem;
}

.menu-direito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 460px;
  gap: 1rem;
}

.streak {
  gap: 0.5rem;
  background-color: var(--verde-6);
  border: 1px solid var(--verde-6);
  border-radius: 32px;
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

/* --- Elementos da Planta --- */
.planta-container h1 {
  color: var(--verde-7);
  font-size: 2rem;
  z-index: 1;
  margin-top: 3rem;
}

.planta-imagem {
  width: 380px;
  height: auto;
  z-index: 5;
}

.planta-sombra {
  position: absolute;
  top: 59%;
  z-index: 4;
  background-color: var(--verde-7);
  width: 180px;
  height: 15px;
  border-radius: 100%;
  opacity: 0.7;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0px;
  width: 1530px;
  height: 600px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: var(--verde-5);
  z-index: 0;
  padding-top: 25px;
  gap: 0.5rem;
}

/* --- Edição do Nome da Planta --- */
.nome-planta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nome-planta p,
.nome-planta input {
  color: var(--verde-00);
  font-weight: 800;
  font-size: 2rem;
  text-shadow: 3px 3px var(--shadow-0);
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: center;
}

.nome-planta p {
  cursor: pointer;
}

.nome-planta input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--verde-00);
  outline: none;
  width: auto;
}

.nome-planta button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.nome-planta i {
  color: var(--verde-7);
  background-color: var(--verde-00);
  border: solid 0.8rem var(--verde-00);
  border-radius: 999px;
  font-size: 0.6rem;
  opacity: 0.6;
  width: 1.6em;
  height: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Progresso (XP e Nível) --- */
.nivel-atual {
  color: var(--verde-2);
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
}

.barra-progresso-container {
  width: 350px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--verde-4);
  border-radius: 999px;
  background-color: var(--verde-3);
  overflow: hidden;
  position: relative;
  margin-bottom: 1.5rem;
}

.barra-progresso-atual {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  /* A largura é controlada pelo Angular */
  border-radius: 999px;
  background-color: var(--verde-2);
  transition: all 0.2 ease-out;
}

.xp-info {
  z-index: 2;
  font-size: 0.9rem;
  color: var(--verde-5);
  font-weight: 600;
  position: absolute;
}

/* --- Botão Principal "Regar" --- */
.regar-btn {
  width: 350px;
  height: 80px;
  border-radius: 32px;
  background: linear-gradient(135deg, var(--verde-3), var(--verde-5));
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--verde-00);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.registro-emocional {
  text-decoration: none;
}

.regar-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.regar-btn i {
  font-size: 24px;
  margin-bottom: 8px;
}

/* --- Cards de Missões e Conquistas --- */
.card {
  width: 400px;
  border-radius: 16px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--verde-2);
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.card-conquistas {
  height: 120px;
}

.card-conquistas .intra-container {
  background-color: var(--verde-5);
  border: solid 1px var(--verde-3);
  border-radius: 8px;
}

.toggle-btn {
  width: 49%;
}

.intra-container {
  background-color: var(--verde-6);
  box-shadow: 2px 2px 0px var(--shadow-0);
  border-radius: 64px;
  padding: 10px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px transparent;
  transition: border-color 0.3s;
}

.intra-container.completa {
  border-color: var(--verde-3);
}

.text-icon {
  display: flex;
  align-items: center;
  width: 75%;
  overflow: hidden;
}

.text {
  margin-left: 0.5rem;
}

.text p {
  font-size: 0.9rem;
  margin: 0;
}

.xp-missao {
  font-size: 0.8rem;
  color: var(--verde-2);
  font-weight: 600;
}

/* --- Ícones --- */
.icon-card {
  font-size: 1rem;
  border-radius: 12px;
  padding: 4px 10px;
  background-color: var(--verde-4);
  box-shadow: 2px 2px 6px var(--shadow-0);
}

.icon-card-no-background {
  font-size: 1rem;
  padding: 4px 10px;
  color: var(--verde-3);
}

/* --- Botão Completar Missão --- */
.completar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #176b5d;
  background-color: #7dd1c3;
  border: 8px solid #7dd1c3;
  border-radius: 64px;
  font-size: 0.8rem;
  transition: background-color 0.3s, border-color 0.3s;
}

.intra-container.completa .completar-btn {
  background-color: var(--verde-3);
  border-color: var(--verde-3);
}

.completar-btn:disabled {
  cursor: not-allowed;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 0;
    border-radius: 0;
    gap: 0rem;
  }

  .planta-container {
    margin-top: 10%;
    height: 80vh;
    width: 90%;
  }

  .planta-imagem {
    margin-top: 8%;
    width: 70%;
    max-width: 280px;
  }

  .planta-sombra {
    top: 59%
  }

  .info-container {
    position: relative;
    width: 300%;
    height: 40vh;
    bottom: 7%;
    margin: 0;
    padding: 10%;
  }

  .nome-planta p,
  .nome-planta input {
    font-size: 1.5rem;
  }

  .nivel-atual {
    font-size: 1.2rem;
  }

  .barra-progresso-container,
  .regar-btn {
    width: 270px;
  }

  .barra-progresso-container {
    height: 24px;
  }

  .xp-info {
    font-size: 0.8rem;
  }

  .regar-btn {
    height: 80px;
    font-size: 16px;
  }

  .menu-direito {
    width: 100%;
    padding-top: 1rem;
  }

  .botoes {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
  
  .toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--verde-5);
    color: var(--verde-00);
    padding: 1rem;
    width: 44vw;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    padding: 1rem;
    box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .card {
    width: 100%;
  }

  .card h1 {
    font-size: 1.1rem;
  }

  .text p {
    font-size: 0.85rem;
  }

  .xp-missao {
    font-size: 0.75rem;
  }

  .completar-btn {
    font-size: 0.75rem;
    border-width: 6px;
  }

  .card-conquistas {
    height: auto;
  }
}

/* --- Modal --- */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--verde-5);
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 90%;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content h2 {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.fechar-btn {
  background: var(--verde-5);
  color: var(--verde-00);
  font-weight: 650;
  padding: 0.5rem 1rem;
  background-color: var(--verde-56);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes fadeIn {
  from { transform: translateY(-10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
