<section>
    <div class="planta-menu">
        <h1>Estação vital</h1>
        <img src="assets/imgs/estacao-vital/Novo Projeto.png" alt="Planta">
        <div id="nivel-planta">
            Nível 3 - Planta Fofinha
        </div>

        <div id="card-stats">
            <div class="barra-progresso">
                <p id="xp-info">175/200 XP</p>
                <div class="barra-progresso-atual"></div>
            </div>
            <p id="nivel-atual">Nível 10</p>
        </div>
        <a routerLink="/app/estacao-vital/registro-emocional">
            <button id="regar-btn">Regar planta</button>
        </a>
    </div>
    <div class="menu-direito">

        <div id="card-diaria" class="card">

            <h1>
                <i class="icon-card">
                    <i class="fa-solid fa-bullseye"></i>
                </i>
                Missões Diárias
            </h1>

            <div class="intra-container">
                <div class="text-icon">
                    <i class="icon-card-no-background">
                        <i class="fa-solid fa-hourglass"></i>
                    </i>
                    <div class="text">
                        <p>bebe 200 litros de agua</p>
                        <div class="barra-progresso">
                            <div class="barra-progresso-atual"></div>
                        </div>
                    </div>
                </div>
                <p class="xp-missao">+100 XP</p>
                <button class="completar-botao">
                    <i class="fa-regular fa-circle-check">
                    </i>
                </button>
            </div>

            <div class="intra-container">
                <div class="text-icon">
                    <i class="icon-card-no-background">
                        <i class="fa-solid fa-hourglass"></i>
                    </i>
                    <div class="text">
                        <p>bebe 200 litros de agua</p>
                        <div class="barra-progresso">
                            <div class="barra-progresso-atual"></div>
                        </div>
                    </div>
                </div>
                <p class="xp-missao">+100 XP</p>
                <button class="completar-botao">
                    <i class="fa-regular fa-circle-check">
                    </i>
                </button>
            </div>

            <div class="intra-container">
                <div class="text-icon">
                    <i class="icon-card-no-background">
                        <i class="fa-solid fa-hourglass"></i>
                    </i>
                    <div class="text">
                        <p>bebe 200 litros de agua</p>
                        <div class="barra-progresso">
                            <div class="barra-progresso-atual"></div>
                        </div>
                    </div>
                </div>
                <p class="xp-missao">+100 XP</p>
                <button class="completar-botao">
                    <i class="fa-regular fa-circle-check">
                    </i>
                </button>
            </div>

        </div>


        <div id="card-semanal" class="card">

            <h1>
                <i class="icon-card">
                    <i class="fa-regular fa-calendar"></i>
                </i>
                Missões Semanais
            </h1>

            <div class="intra-container">
                <div class="text-icon">
                    <i class="icon-card-no-background">
                        <i class="fa-solid fa-hourglass"></i>
                    </i>
                    <div class="text">
                        <p>bebe 200 litros de agua</p>
                        <div class="barra-progresso">
                            <div class="barra-progresso-atual"></div>
                        </div>
                    </div>
                </div>
                <p class="xp-missao">+100 XP</p>
                <button class="completar-botao">
                    <i class="fa-regular fa-circle-check">
                    </i>
                </button>
            </div>

            <div class="intra-container">
                <div class="text-icon">
                    <i class="icon-card-no-background">
                        <i class="fa-solid fa-hourglass"></i>
                    </i>
                    <div class="text">
                        <p>bebe 200 litros de agua</p>
                        <div class="barra-progresso">
                            <div class="barra-progresso-atual"></div>
                        </div>
                    </div>
                </div>
                <p class="xp-missao">+100 XP</p>
                <button class="completar-botao">
                    <i class="fa-regular fa-circle-check">
                    </i>
                </button>
            </div>

            <div class="intra-container">
                <div class="text-icon">
                    <i class="icon-card-no-background">
                        <i class="fa-solid fa-hourglass"></i>
                    </i>
                    <div class="text">
                        <p>bebe 200 litros de agua</p>
                        <div class="barra-progresso">
                            <div class="barra-progresso-atual"></div>
                        </div>
                    </div>
                </div>
                <p class="xp-missao">+100 XP</p>
                <button class="completar-botao">
                    <i class="fa-regular fa-circle-check">
                    </i>
                </button>
            </div>

        </div>


        <div id="card-conquistas" class="card">
            <h1>
                <i class="icon-card">
                    <i class="fa-solid fa-award"></i>
                </i>
                Última conquista
            </h1>
            <div class="intra-container">
                <div class="text-icon">
                    <i class="icon-card-no-background">
                        <i class="fa-solid fa-trash-can"></i>
                    </i>
                    <div class="text">
                        <p>bebe 200 litros de agua</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>