section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    gap: 8rem;
    padding: 2rem;
}

.menu-direito {
    background-color: var(--verde-7);
    box-shadow: 0px 0px 10px var(--shadow-0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 460px;
    border-radius: 16px;
    gap: 10px;
}

.card {
    min-width: 400px;
    border-radius: 16px;
    margin: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.card h1,
.card p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card h1 {
    color: var(--verde-2);
    font-size: 1.3rem;
    height: 2.2rem;
}

.card p {
    font-size: 0.7rem;
    height: 0.7rem;
}

.descricao-marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    height: 1rem;
}

#descricao {
    position: relative;
    top: -0px;
    overflow: hidden;
    width: 100%;
}

.marquee-ativo #descricao:hover {
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.icon-card,
.icon-card-intra,
.icon-card-no-background{
    font-size: 1rem;
    border-radius: 12px;
    border-style: solid;
    border-width: 4px 10px;
}

.icon-card {
    background-color: var(--verde-4);
    border-color: var(--verde-4);
    box-shadow: 2px 2px 6px var(--shadow-0);
}

.icon-card-intra {
    color: #10473e;
    background-color: var(--verde-3);
    border-color: var(--verde-3);
}

.icon-card-no-background {
    color: var(--verde-3);
    background-color: transparent;
    border-color: transparent;
}

.intra-container {
    background-color: var(--verde-6);
    box-shadow: 2px 2px 0px var(--shadow-0);
    border-radius: 8px;
    padding: 10px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intra-container .text p {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
    width: 80%;
}

.text .barra-progresso {
    background-color: var(--verde-7);
    border: 1px solid var(--verde-7);
    height: 0.5rem;
}

.text .barra-progresso-atual {
    width: 10%;
}

.text-icon {
    display: flex;
    width: 75%;
    overflow: hidden;
}

.completar-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0.2rem;
    color: #08241f;
    font-size: 0.8rem;
    color: #176b5d;
    background-color: #7dd1c3;
    border: 8px solid #7dd1c3;
    border-radius: 64px;
}

#card-diaria,
#card-semanal,
#card-conquistas {
    height: auto;
    margin: 0px;
    gap: 3px;
}

#card-conquistas {
    height: 120px;
}

#card-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    padding: 0.5rem 1rem;
    color: #10473e;
    flex-direction: column;
    margin-bottom: 1rem;
}

#card-stats .barra-progresso, #regar-btn {
    box-shadow: 3px 3px var(--shadow-0);
}

#card-stats #nivel-atual {
    text-shadow: 3px 3px var(--shadow-0);
}

#barra-progresso-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 5%;
}

#xp-info {
    z-index: 2;
    font-size: 0.8rem;
    height: 1.2rem;
    position: absolute;
    color: var(--verde-2);
    font-weight: 600;
}

.xp-restante {
    margin-top: 0.3rem;
    margin-left: 2px;
    font-size: 0.7rem;
    color: var(--verde-3);
    font-weight: 600;
}


.barra-progresso {
    width: 100%;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--verde-5);
    border-radius: 999px;
    background-color: var(--verde-4);
    overflow: hidden;
    position: relative;
}

.barra-progresso-atual {
    position: absolute;
    left: 0;
    height: 100%;
    width: 87.5%;
    border: 1px solid var(--verde-5);
    border-radius: 999px;
    background-color: var(--verde-5);
}

#nivel-atual {
    color: var(--verde-2);
    font-size: 0.8rem;
    font-weight: 600;
}

#nivel-planta {
    color: var(--verde-2);
    font-weight: 600;
    width: auto;
    font-size: 2rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px var(--shadow-0);
}

#regar-btn {
    background: linear-gradient(90deg, var(--gradiente-inicio), var(--gradiente-fim));
    color: var(--verde-7);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.25rem 2rem;
    border-radius: 64px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    height: 50px;
}

#regar-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px var(--shadow-0);
}

#regar-btn :active {
    transform: translateY(-1px);
    box-shadow: 0 1px 3px var(--shadow-0);
}

.planta-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
    border-radius: 16px;
    background-image: url("src/assets/imgs/estacao-vital/blank-nature-park-landscape-scene-daytime_1308-62625.png");
    background-size: cover;
    background-position: center;
    /*background: linear-gradient(0deg, var(--verde-6), var(--verde-7));*/
    box-shadow: 0px 0px 10px var(--shadow-0);
    border: 4px solid var(--verde-6);
}

.planta-menu img {
    width: 400px;
    height: 400px;
}