:host {
  --sidebar-width: 260px;
  --sidebar-collapsed-width: 88px; /* Deve ser o mesmo valor do CSS da sidebar */
  --transition-speed: 0.3s;
}

.app-container {
  height: 100vh;
  background-color: var(--verde-6);
  overflow-x: hidden;
}

.content-area {
  /* O estado padrão é com a sidebar expandida */
  margin-left: var(--sidebar-width);
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
  box-sizing: border-box; 
  /* Adicionada a transição para a margem */
  transition: margin-left var(--transition-speed) ease;
}

/* Quando a sidebar está recolhida, a margem diminui */
.content-area.collapsed {
  margin-left: var(--sidebar-collapsed-width);
}

@media (max-width: 992px) {
  .content-area {
    margin-left: 0 !important; /* Garante que não há margem no mobile */
    padding: 1rem;
  }
}

