/* Fundo que cobre a tela */
h2{
  color:var(--verde-3)
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Quando visível */
.modal-overlay.show {
  opacity: 1;
  pointer-events: all;
}

/* Container do modal */
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at right,
  var(--verde-5),
  var(--verde-7) 100%);
  width: 45%;
  height: 80%;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: translateY(100%);
  transition: transform 1s ease;
}

/* Animação de entrada */
.modal-container.show {
  transform: translateY(0);
}

/* Botão de fechar */
.fechar-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

/* Formulário */
form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input com ícone */
.input-individual {
  width: 100%;
  margin-bottom: 1rem;
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
}

#genero-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
#genero-data .input-individual{
  width: 50%;
}
.input-icon {
  position: absolute;
  left: 13px;
  top: 11px;
  fill: var(--verde-3);
  pointer-events: none;
  width: 15px;
  height: 15px;
}

/* Inputs gerais */
.modal-container input,
#selecaoGenero, .input-individual select {
  width: 100%;
  background-color: transparent;
  padding: 8px 8px 8px 36px;
  border: 1px solid var(--verde-3);
  border-radius: 10px;
  font-size: 0.9rem;
  font-family: Poppins;
  color: var(--verde-2);
}

option, select {
  padding: 0.75rem 1rem;
  color: 10473e;
}

/* Placeholder */
.modal-container input::placeholder {
  color: var(--verde-3);
}

/* Gênero - seleção */
#selecaoGenero {
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

/* Lista de escolhas */
.escolhas {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.escolhas input {
  width: 0;
}

.escolhas input,
.escolhas label {
  background-color: var(--verde-5);
  border-radius: 5px;
}

#custom-select option {
  width: 100%;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--verde-6);
  color: var(--verde-2);
}

#login-btn {
  margin: 1.2rem 0;
  background-color: var(--verde-10);
  color: var(--verde-7);
  font-weight: 500;
  padding: 0.75rem 2rem;
  border-radius: 12px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins";
  width: 100%;
}
#login-btn:hover {
    background-color: var(--verde-3);
}