<header class="header">
  <nav class="navbar" [ngClass]="{ navbar: true, scrolled: isScrolled }">
    <div class="logo-container">
      <img class="logo-img" src="/assets/imgs/vitalis.png" alt="Vitalis" />
    </div>

    <div class="nav-links-desktop">
      <a href="" class="nav-link scroll-link">Início</a>
      <a href="sobre" class="nav-link scroll-link">Sobre</a>
      <a href="funcionalidades" class="nav-link scroll-link">Funcionalidades</a>
      <a href="planos" class="nav-link scroll-link">Planos</a>
      <a href="para-especialistas" class="nav-link scroll-link"
        >Especialistas</a
      >
    </div>

    <div class="navbar-actions">
      <button
        class="btn-theme-toggle"
        (click)="toggleTheme()"
        aria-label="Trocar tema"
      >
        <i class="fa-solid fa-moon" *ngIf="currentTheme === 'light'"></i>
        <i class="fa-solid fa-circle" *ngIf="currentTheme === 'dark'"></i>
      </button>
      <button class="btn-login">Entrar</button>
    </div>
  </nav>
</header>
