<app-navbar></app-navbar>
<section class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Cuidar de si começa com um clique.</h1>
      <a [routerLink]="[]" fragment="funcionalidades" class="gradient-btn">Veja as funcionalidades que oferecemos</a>
    </div>
  </div>
</section>

<section id="funcionalidades">
  
  <div class="funcionalidade-card">
    <div class="funcionalidade-content">
      <div class="text-container">
        <h1 class="funcionalidade-title">Estação Vital</h1>
        <p class="funcionalidade-description">Registre como você está se sentindo e acompanhe sua planta emocional
          crescendo.</p>
      </div>
      <div class="funcionalidade-svg-container">
        <i class="fa-solid fa-house"></i>
      </div>
    </div>
  </div>

  <div class="funcionalidade-card">
    <div class="funcionalidade-content">
      <div class="funcionalidade-svg-container">
      </div>
      <div id="alinhado-direita" class="text-container">
        <h1 class="funcionalidade-title">Aprender+</h1>
        <p class="funcionalidade-description">Registre como você está se sentindo e acompanhe sua planta emocional crescendo.</p>
      </div>
    </div>
  </div>
  
  <div class="funcionalidade-card">
    <div class="funcionalidade-content">
      <div class="text-container">
        <h1 class="funcionalidade-title">PsicoApoio+</h1>
        <p class="funcionalidade-description">Agende consultas com psicólogos parceiros e receba apoio profissional acessível.</p>
      </div>
      <div class="funcionalidade-svg-container">
      </div>
    </div>
  </div>

    <div class="funcionalidade-card">
    <div class="funcionalidade-content">
      <div class="funcionalidade-svg-container">
      </div>
      <div id="alinhado-direita" class="text-container">
        <h1 class="funcionalidade-title">Cartas da Vitalis</h1>
        <p class="funcionalidade-description">Mensagens semanais personalizadas para acolher seu momento.</p>
      </div>
    </div>
  </div>

    <div class="funcionalidade-card">
    <div class="funcionalidade-content">
      <div class="text-container">
        <h1 class="funcionalidade-title">📓 Diário Vital</h1>
        <p class="funcionalidade-description">Escreva sobre seus dias e guarde suas reflexões de forma privada e segura.</p>
      </div>
      <div class="funcionalidade-svg-container">
        <i class="fa-solid fa-house"></i>
      </div>
    </div>
  </div>

    <div class="funcionalidade-card">
    <div class="funcionalidade-content">
      <div class="funcionalidade-svg-container">
      </div>
      <div id="alinhado-direita" class="text-container">
        <h1 class="funcionalidade-title">Conquistas emocionais</h1>
        <p class="funcionalidade-description">Ganhe medalhas simbólicas por constância, cuidado e vitórias internas.</p>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>



<!--
  <h2>Funcionalidades</h2>
  <div class="func-list">
    <div class="func-item">
      <h3>🌱 Estação Vital</h3>
      <p>Registre como você está se sentindo e acompanhe sua planta emocional crescendo.</p>
    </div>
    <div class="func-item">
      <h3>📚 Aprender+</h3>
      <p>Conteúdo leve e prático sobre saúde emocional: vídeos, lives e workshops.</p>
    </div>
    <div class="func-item">
      <h3>🧠 PsicoApoio</h3>
      <p>Agende consultas com psicólogos parceiros e receba apoio profissional acessível.</p>
    </div>
    <div class="func-item">
      <h3>📬 Cartas da Vitalis</h3>
      <p>Mensagens semanais personalizadas para acolher seu momento.</p>
    </div>
    <div class="func-item">
      <h3>📓 Diário Vital</h3>
      <p>Escreva sobre seus dias e guarde suas reflexões de forma privada e segura.</p>
    </div>
    <div class="func-item">
      <h3>🏅 Conquistas emocionais</h3>
      <p>Ganhe medalhas simbólicas por constância, cuidado e vitórias internas.</p>
    </div>
  </div>
-->