<btn-scrollup></btn-scrollup>


<section class="hero" style="padding: 0">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Cuidar de si começa com um clique.</h1>
<a (click)="scrollToElement('funcionalidades-list')" style="cursor: pointer;">
  <btn-gradient text="Veja as funcionalidades"></btn-gradient>
</a>
    </div>
  </div>
</section>

<section id="funcionalidades-list">
  <div class="funcionalidade-card">
    <div class="funcionalidade-content">
      <div class="text-container">
        <h2 class="funcionalidade-title">Estação Vital</h2>
        <p class="funcionalidade-description">Registre como você está se sentindo e acompanhe sua planta emocional
          crescendo.</p>
      </div>
      <div class="svg-container">
        <img src="assets/imgs/Reforestation-rafiki.svg" alt="">
      </div>
    </div>
  </div>

  <div class="funcionalidade-card">
    <div class="funcionalidade-content reverse">
      <div class="text-container alinhado-direita">
        <h2 class="funcionalidade-title">Aprender+</h2>
        <p class="funcionalidade-description">Registre como você está se sentindo e acompanhe sua planta emocional
          crescendo.</p>
      </div>
      <div class="svg-container">
        <img src="assets/imgs/Bibliophile-cuate.svg" alt="">
      </div>
    </div>
  </div>

  <div class="funcionalidade-card">
    <div class="funcionalidade-content">
      <div class="text-container">
        <h2 class="funcionalidade-title">PsicoApoio+</h2>
        <p class="funcionalidade-description">Agende consultas com psicólogos parceiros e receba apoio profissional
          acessível.</p>
      </div>
      <div class="svg-container">
        <img src="assets/imgs/Psychologist-bro.svg" alt="">
      </div>
    </div>
  </div>

  <div class="funcionalidade-card">
    <div class="funcionalidade-content reverse">
      <div class="text-container alinhado-direita">
        <h2 class="funcionalidade-title">Cartas da Vitalis</h2>
        <p class="funcionalidade-description">Mensagens semanais personalizadas para acolher seu momento.</p>
      </div>
      <div class="svg-container">
        <img src="assets/imgs/MailSent-pana.svg" alt="">
      </div>
    </div>
  </div>

  <div class="funcionalidade-card">
    <div class="funcionalidade-content">
      <div class="text-container">
        <h2 class="funcionalidade-title">Diário Vital</h2>
        <p class="funcionalidade-description">Escreva sobre seus dias e guarde suas reflexões de forma privada e segura.
        </p>
      </div>
      <div class="svg-container">
        <img src="assets/imgs/Diary-bro.svg" alt="">
      </div>
    </div>
  </div>

  <div class="funcionalidade-card">
    <div class="funcionalidade-content reverse">
      <div class="text-container alinhado-direita">
        <h2 class="funcionalidade-title">Conquistas emocionais</h2>
        <p class="funcionalidade-description">Ganhe medalhas simbólicas por constância, cuidado e vitórias internas.</p>
      </div>
      <div class="svg-container">
        <img src="assets/imgs/Achievement-pana.svg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="hero" style="padding: 0">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Sua saúde mental importa.</h1>
      <a [routerLink]="[]" fragment="sobre"><btn-gradient text="Comece agora mesmo"></btn-gradient></a>
      <a href="https://storyset.com/people" class="storyset-description">People illustrations by Storyset</a>
    </div>
  </div>
</section>
