:root {
  /* Tons fixos */
  --branco-esverdeado: #f2fffb;
  --verde-00: #b5eed9;
  --verde-10: #50e0bc;
  --verde-15: #76bca3;
  --verde-20: #21bc95;
  --verde-25: #1c7f6e;
  --verde-30: #157b62;
  --verde-40: #14715a;
  --verde-50: #126853;
  --verde-60: #0f5846;
  --verde-70: #0b3f32;

  /*Sombras */
  --shadow-color-card-hover: rgba(0, 0, 0, 0.1);
  --shadow-color-btn-white-hover: rgba(42, 157, 143, 0.2);
  --shadow-color-card: rgba(0, 0, 0, 0.05);

   /* Gradientes */
  --gradiente-inicio: var(--verde-10);
  --gradiente-fim: var(--verde-20);

  /* Cores background/text */
  --background: var(--verde-00);
  --text-color: var(--verde-25);

  --red: #ce1111;
}

[data-theme='dark'] {
  --gradiente-inicio: var(--verde-20);
  --gradiente-fim: var(--verde-10);

  /* Cores background/text */
  --background: var(--verde-70);
  --text-color: var(--branco-esverdeado);


  --red: #ce1111;

  /*Sombras */
  --shadow-color-card-hover: rgba(0, 0, 0, 0.1);
  --shadow-color-btn-white-hover: rgba(42, 157, 143, 0.2);
  --shadow-color-card: rgba(0, 0, 0, 0.05);
}
