<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <div class="footer-logo-container">
          <img
            src="/assets/imgs/vitalis-branca.png"
            alt="Vitalis"
            class="footer-logo-icon"
          />
        </div>
        <p class="footer-tagline">Cuidar da mente é Vital.</p>
        <p class="footer-address">Atendemos todo o Brasil (100% online)</p>
      </div>

       <div>
        <h3 class="footer-heading">Redes Sociais</h3>
        <div class="social-media">
          <a href="https://www.instagram.com/mentalvitalis/" class="social-icon" aria-label="Instagram" target="_blank">
            <i class="ri-instagram-line"></i>
          </a>
          <a href="" class="social-icon" aria-label="LinkedIn">
            <i class="ri-linkedin-box-fill"></i>
          </a>
          <a href="https://github.com/ruan-developer/projeto-vitalis" class="social-icon" target="_blank">
            <i class="ri-github-fill"></i>
          </a>
        </div>
      </div>

      <div>
        <h3 class="footer-heading">Navegação</h3>
        <ul class="footer-links">
          <li><a href="web/home" class="footer-link scroll-link">Início</a></li>
          <li><a href="web/sobre" class="footer-link scroll-link">Sobre</a></li>
          <li>
            <a href="web/funcionalidades" class="footer-link scroll-link"
              >Funcionalidades</a
            >
          </li>
          <li><a href="web/planos" class="footer-link scroll-link">Planos</a></li>
        </ul>
      </div>

      <div>
        <h3 class="footer-heading">Funcionalidades</h3>
        <ul class="footer-links">
          <li><a href="#" class="footer-link">PsicoApoio</a></li>
          <li><a href="#" class="footer-link">Aprender+</a></li>
          <li><a href="#" class="footer-link">Estação Vital</a></li>
          <li>
            <a href="#companies" class="footer-link scroll-link"
              >Para Empresas</a
            >
          </li>
          <li>
            <a href="#specialists" class="footer-link scroll-link"
              >Para Especialistas</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h3 class="footer-heading">Contato</h3>
        <ul class="footer-links">
          <li class="contact-item">
            <svg
              class="contact-icon"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
              ></path>
            </svg>
            <span class="contact-text">contato&#64;vitalis.com.br</span>
          </li>
        </ul>

        <div class="footer-sub-links-container">
          <h3 class="footer-heading">Links</h3>
          <ul class="footer-links">
            <li><a href="#" class="footer-link">Política de Privacidade</a></li>
            <li><a href="#" class="footer-link">Termos de Uso</a></li>
            <li><a href="#" class="footer-link">FAQ</a></li>
            <li><a href="#" class="footer-link">Suporte</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom-text">
      <p>&copy; 2025 Vitalis©. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
