<main>
  <btn-scrollup></btn-scrollup>
  <section id="home" class="home-section">
    <div class="container">
      <div class="home-content">
        <div class="home-text-container">
          <h1 class="home-title ">
            <span class="block">Cuidar da mente é</span>
            <span class="block vital-text">Vital.</span>
          </h1>
          <p class="home-description">
            Transforme sua saúde mental com uma plataforma que une tecnologia,
            acolhimento e propósito.
          </p>
<a (click)="scrollToElement('sobre')" style="cursor: pointer;">
  <btn-gradient text="Conhecer"></btn-gradient>
</a>
        </div>
        <div class="hero-svg-container">
          <img
            class="hero-img"
            src="/assets/imgs/hero.png"
            alt="Cuidar da mente é Vital"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="sobre" class="about-section">
    <div class="container">
      <h2 class="section-title" style="color: var(--verde-1);">Sobre a Vitalis</h2>
      <div class="about-content">
        <p class="section-description ">
          A Vitalis nasceu para transformar a saúde mental em algo acessível,
          cotidiano e verdadeiro. Somos uma plataforma que une tecnologia,
          acolhimento e propósito.
        </p>
        <div class="about-cards-grid">
          <div class="about-card">
            <div class="about-card-icon-container">
              <i class="fa-solid fa-universal-access" style="font-size: 2.5rem;"></i>
            </div>
            <h3 class="about-card-title">Acessibilidade</h3>
            <p class="about-card-description">
              Democratizamos o acesso à saúde mental com preços justos e
              tecnologia inclusiva.
            </p>
          </div>
          <div class="about-card">
            <div class="about-card-icon-container">
              <i class="fa-solid fa-user-group"></i>
            </div>
            <h3 class="about-card-title">Comunidade</h3>
            <p class="about-card-description">
              Construímos um ambiente seguro para compartilhar experiências e
              crescer juntos.
            </p>
          </div>
          <div class="about-card">
            <div class="about-card-icon-container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="about-card-icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.516 2.17a.75.75 0 0 0-1.032 0 11.209 11.209 0 0 1-7.877 3.08.75.75 0 0 0-.722.515A12.74 12.74 0 0 0 2.25 9.75c0 5.942 4.064 10.933 9.563 12.348a.749.749 0 0 0 .374 0c5.499-1.415 9.563-6.406 9.563-12.348 0-1.39-.223-2.73-.635-3.985a.75.75 0 0 0-.722-.516l-.143.001c-2.996 0-5.717-1.17-7.734-3.08Zm3.094 8.016a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <h3 class="about-card-title">Confiança</h3>
            <p class="about-card-description">
              Trabalhamos com profissionais certificados e práticas baseadas em
              evidências.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="features-section">
    <div class="container">
      <h2 class="section-title" style="color: var(--verde-3);">Nossas Funcionalidades</h2>
      <p class="section-description" style="color: #D4F0EB;">
        Ferramentas desenvolvidas para cuidar da sua saúde mental de forma
        completa e integrada.
      </p>

      <div class="features-grid">
        <div class="feature-card ">
          <div class="feature-card-header gradient-bg">
            <svg
              class="feature-card-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"
              />
              <path
                d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"
              />
              <path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4" />
              <path d="M17.599 6.5a3 3 0 0 0 .399-1.375" />
              <path d="M6.003 5.125A3 3 0 0 0 6.401 6.5" />
              <path d="M3.477 10.896a4 4 0 0 1 .585-.396" />
              <path d="M19.938 10.5a4 4 0 0 1 .585.396" />
              <path d="M6 18a4 4 0 0 1-1.967-.516" />
              <path d="M19.967 17.484A4 4 0 0 1 18 18" />
            </svg>
          </div>
          <div class="feature-card-content">
            <h3 class="feature-card-title">Cuidar+</h3>
            <p class="feature-card-description">
              Agende consultas com psicólogos e mentores qualificados. Encontre
              o profissional ideal para suas necessidades.
            </p>
            <a href="funcionalidades" class="feature-card-link">
              Saiba mais
              <svg
                class="feature-card-link-icon"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                ></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="feature-card">
          <div class="feature-card-header gradient-bg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feature-card-icon"
            >
              <path d="M12 7v14" />
              <path
                d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"
              />
            </svg>
          </div>
          <div class="feature-card-content">
            <h3 class="feature-card-title">Aprender+</h3>
            <p class="feature-card-description">
              Biblioteca completa com vídeos, podcasts e eventos sobre saúde
              mental, autoconhecimento e bem-estar.
            </p>
            <a href="funcionalidades" class="feature-card-link">
              Saiba mais
              <svg
                class="feature-card-link-icon"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                ></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="feature-card">
          <div class="feature-card-header gradient-bg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feature-card-icon"
            >
              <path d="M7 20h10" />
              <path d="M10 20c5.5-2.5.8-6.4 3-10" />
              <path
                d="M9.5 9.4c1.1.8 1.8 2.2 2.3 3.7-2 .4-3.5.4-4.8-.3-1.2-.6-2.3-1.9-3-4.2 2.8-.5 4.4 0 5.5.8z"
              />
              <path
                d="M14.1 6a7 7 0 0 0-1.1 4c1.9-.1 3.3-.6 4.3-1.4 1-1 1.6-2.3 1.7-4.6-2.7.1-4 1-4.9 2z"
              />
            </svg>
          </div>
          <div class="feature-card-content">
            <h3 class="feature-card-title">Estação Vital</h3>
            <p class="feature-card-description">
              Registre seu humor diariamente e cultive uma planta emocional que
              cresce conforme seus cuidados pessoais.
            </p>
            <a
              routerLink="funcionalidades"
              class="feature-card-link"
            >
              Saiba mais
              <svg
                class="feature-card-link-icon"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="unique-section">
        <h2 class="section-title" style="color: var(--verde-3); margin-bottom: 7rem;">
          O que torna a Vitalis única?
        </h2>
        <div class="unique-grid">
          <div class="unique-item ">
            <div class="unique-icon-container">
              <i class="ri-chat-heart-line"></i>
            </div>
            <h3 class="unique-title">Linguagem que acolhe</h3>
            <p class="unique-description">
              Comunicação humanizada e acessível, sem jargões técnicos ou
              distanciamento.
            </p>
          </div>
          <div class="unique-item">
            <div class="unique-icon-container">
              <i class="ri-window-2-line"></i>
            </div>
            <h3 class="unique-title">Feita para o mundo digital</h3>
            <p class="unique-description">
              Experiência intuitiva e integrada, pensada para o cotidiano
              conectado.
            </p>
          </div>
          <div class="unique-item">
            <div class="unique-icon-container">
              <i class="ri-global-line"></i>
            </div>
            <h3 class="unique-title">Acesso para todos</h3>
            <p class="unique-description">
              Preços acessíveis e opções gratuitas para democratizar o cuidado
              mental.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="plans" class="plans-section">
    <div class="container">
      <h2 class="section-title" style="color: var(--verde-1);">Planos Vitalis</h2>
      <p class="section-description" style="color: var(--verde-2);">
        Descubra o plano ideal para cultivar seu bem-estar emocional.
      </p>

      <div class="plans-grid">
        <div class="plan-card" style="background-color: var(--verde-6);">
          <div class="plan-header">
            <h3 class="plan-title"><i class="ri-heart-fill"></i> Gratuito</h3>
            <p class="plan-subtitle">Para dar o primeiro passo</p>
          </div>
          <div class="plan-features">
            <div class="feature-item-check">
              <i class="ri-arrow-right-long-line"></i>
              <span>Cuide da sua planta mental</span>
            </div>
            <div class="feature-item-check">
              <i class="ri-arrow-right-long-line"></i>
              <span>Agendamento de consultas</span>
            </div>
          </div>
          <button class="btn-secondary">Começar agora</button>
        </div>

        <div class="plan-card premium-card">
          <div class="recommended-badge">Recomendado</div>
          <div class="plan-header">
            <h3 class="plan-title">
              <i class="ri-vip-diamond-fill"></i> Vital+
            </h3>
            <p class="plan-subtitle">Experiência completa</p>
          </div>
          <div class="plan-features">
            <div class="feature-item-check">
              <i class="ri-arrow-right-long-line"></i>
              <span>Acesso completo e conteúdos exclusivos</span>
            </div>
            <div class="feature-item-check">
              <i class="ri-arrow-right-long-line"></i>
              <span>Descontos em consultas</span>
            </div>
          </div>
          <a href="/planos"><button class="btn-secondary" style="background-color: var(--verde-10);">Conhecer os planos</button></a>
        </div>
      </div>
    </div>
  </section>


  <section id="specialists" class="specialists-section">
    <div class="container">
      <h2 class="section-title" style="color: var(--verde-2);">Para Especialistas</h2>
      <p class="section-description" style="color: var(--verde-1);">
        Faça parte da nossa rede de profissionais e amplie seu alcance no
        atendimento online.
      </p>

      <div class="specialists-grid">
        <div class="specialist-card ">
          <div class="specialist-icon-container">
            <i class="ri-user-2-line"></i>
          </div>
          <h3 class="specialist-title">Cadastro verificado</h3>
          <p class="specialist-description">
            Psicólogos com CRP ativo e verificado, garantindo segurança para
            todos os usuários.
          </p>
        </div>

        <div class="specialist-card">
          <div class="specialist-icon-container">
            <i class="ri-team-line"></i>
          </div>
          <h3 class="specialist-title">Rede Vitalis</h3>
          <p class="specialist-description">
            Faça parte de uma comunidade de profissionais comprometidos com a
            saúde mental.
          </p>
        </div>

        <div class="specialist-card">
          <div class="specialist-icon-container">
            <i class="ri-time-line"></i>
          </div>
          <h3 class="specialist-title">100% Online</h3>
          <p class="specialist-description">
            Atenda de qualquer lugar, com ferramentas especializadas para
            consultas remotas.
          </p>
        </div>
      </div>

      <div class="specialist-cta-container">
        <a href="para-especialistas"
          ><btn-gradient text="Quero fazer parte"></btn-gradient></a>
        <p class="specialist-cta-info">
          Após o cadastro, nossa equipe entrará em contato para verificação de
          documentos.
        </p>
      </div>
    </div>
  </section>

  <section class="cta-section gradient-bg">
    <div class="container">
      <h2 class="cta-title ">
        Comece sua jornada de bem-estar hoje
      </h2>
      <p class="cta-description">
        Junte-se a milhares de pessoas que estão transformando sua relação com a
        saúde mental.
      </p>
      <button (click)="abrirUsuarioModal()" class="btn-white">
        Criar conta gratuita
      </button>
    </div>
  </section>
</main>
