@import 'remixicon/fonts/remixicon.css';

/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-600) var(--background);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  line-height: 1.6;
}

/* Para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--verde-escuro); /* tom claro suave */
  border-radius: 10px;
}



::-webkit-scrollbar-thumb:hover {
  background: var(--verde-escuro); /* cor mais forte no hover */
}
