<router-outlet></router-outlet>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Mobile menu toggle
    const mobileMenuButton = document.getElementById("mobile-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");

    mobileMenuButton.addEventListener("click", function () {
      mobileMenu.classList.toggle("hidden-mobile-menu");
    });

    // Animation on scroll
    const animateElements = document.querySelectorAll(".animate-element");
    
    function checkVisibility() {
      animateElements.forEach((element) => {
        const elementTop = element.getBoundingClientRect().top;
        const windowHeight = window.innerHeight;

        if (elementTop < windowHeight - 50) {
          element.classList.add("visible");
        }
      });
    }

    // Initial check
    checkVisibility();

    // Check on scroll
    window.addEventListener("scroll", checkVisibility);
  });
</script>
<app-cadastro></app-cadastro>
<app-usuario-especialista></app-usuario-especialista>