<app-navbar></app-navbar>

<section id="sobre-nos" class="container">
  <h2>Quem somos</h2>
  <p>
    A Vitalis é uma plataforma digital de bem-estar e saúde mental, criada para tornar o cuidado emocional mais leve, acessível e constante.
    Unimos tecnologia, acolhimento e psicologia para oferecer um espaço onde cuidar da mente é como regar uma planta todos os dias — simples, simbólico e transformador.
  </p>
  <h3>Nossa história</h3>
  <p>
    A Vitalis nasceu como um projeto de TCC, mas desde o início, a proposta foi maior: criar algo real que ajudasse pessoas reais.
    Oferecemos uma ponte entre o desejo de se cuidar e a dificuldade de acesso à terapia tradicional.
  </p>
</section>

<app-footer></app-footer>
